@import "./size-variable";
:root {
  --white: #fff;
  --black: #222;
  --pink: #f60091;
  --grey: #444;
  --greyWeight: #959595;
  --grewLight: #d1e2e9;
  --yellow: #ffd800;
  --green: #59b210;
  --color-hover: #f39c12;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: $root-font-size;
  font-weight: 400;
  background-color: #fff;
  color: #243a6f;
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  position: relative;
  max-width: 120rem;
  // min-height: 100%;
  margin: 0 auto;
}

.container-md {
  max-width: 100rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.bottom {
  margin-bottom: 1.8rem;
}
