/* Header */
@import "../assets/color-variable";
@import "../assets/size-variable";

.header {
  // display: contents;

  position: relative;
  width: 100%;
  height: $header-height;
  overflow: hidden;
  // z-index: 1000;
}

.nav {
  padding: 1.7rem 0;
  background-color: var(--grewLight);
  &.white {
    background-color: #fff;
  }
  &.fix-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #243b6f;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    // transition: all 300ms ease-in-out;
    z-index: 20000;
    a {
      color: #fff;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 2.5rem;
}
.nav-list {
  display: flex;
  align-items: center;
  &__box {
    min-width: 20rem;
  }
  &__title {
    padding-left: 0.8rem;
  }
  &__count {
    /* span 태그는 inline element이기에 기본적으로 width 값을 줄 수 없다. 하지만 아래와 같은 방법으로 줄 수 있다.*/
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;

    border-radius: 50%;
    text-align: center;
    background-color: $warning;
    font-size: 1.6rem;
    color: $warning__text;
    padding: 0.1rem 0 0 0;
    margin-left: 0.3rem;
  }
}
.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link {
  padding: 2rem 1rem;
  transition: all 300ms ease-in-out;
  :hover {
    color: $color-hover;
  }

  .nav-item:not(:last-child) {
    margin-right: 2rem;
  }
}
.menu.show {
  .logo {
    padding: 2rem 1.5rem;
  }
  .close {
    padding-right: 1.5rem;
    font-size: 3rem;
    color: white;
  }
}

.nav-link.icon {
  font-size: 2rem;
}

.top-nav {
  display: none;
}

.cart-icon {
  display: none;
}
.hamburger {
  display: none;
}

.slider {
  display: none;
}
