.right {
  select {
    width: 20rem;
    padding: 0.7rem;
    border: 1px solid #ccc;
    // appearance: none;
    outline: none;
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  .select-remain {
    margin-bottom: 1rem;
  }
}
