$color-background: #f39c12;
$color-hover: #f39c12;
$shoppingRed: #f43142;

// Alert Color
$primary: rgb(204, 229, 255);
$primary__text: rgb(0, 64, 133);
$primary__border: rgb(184, 218, 255);

$secondary: rgb(226, 227, 229);
$secondary__text: rgb(56, 61, 65);
$secondary__border: rgb(214, 216, 219);

$success: rgb(212, 237, 218);
$success__text: rgb(21, 87, 36);
$success__border: rgb(195, 230, 203);

$info: rgb(209, 236, 241);
$info__text: rgb(12, 84, 96);
$info__border: rgb(190, 229, 235);

$danger: #f8d7da;
$danger__text: #721c24;
$danger__border: #f5c6cb;

$warning: #fff3cd;
$warning__text: #856404;
$warning__border: #ffeeba;

$light: #f8f9fa;
$dark: #343a40;
$indigo: #6610f2;
$blue: #007bff;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;

$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #969a9b;
$gray-dark: #343a40;
$naver: #31c75a;

// Admin Panel
$--blue: #287fff;
$--grey: #f5f5f5;
$--black1: #222;
$--black2: #999;

// root color
$--grewLight: #d1e2e9;

$--white: #fff;
$--black: #222;
$--pink: #f60091;
$--grey: #444;
$--greyWeight: #959595;
$--grewLight: #d1e2e9;
$--yellow: #ffd800;
$--green: #59b210;
$--color-hover: #f39c12;
