.footer {
  background-color: var(--black);
  padding: 6rem 1rem;
  line-height: 3rem;
  margin-top: 8rem;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--white);
}
.footer-center {
  h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  a:link,
  a:visited {
    display: block;
    color: #f1f1f1;
  }
  a:hover {
    color: var(--pink);
  }
}
