@import "./variable/size-variable";
@import "./variable/color-variable";
@import "./mixins";

.kakaoPayCancelModal {
  @include modal-frame;
  .kakao__cancel__box {
    height: $modal-basic-height;
    width: $modal-basic-width;
    // border: 2px solid black;
    border-radius: $modal-basic-radius;

    display: flex;
    flex-direction: column;
    .question__box {
      height: 60%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      // background-color: $gray;

      border-radius: $modal-basic-radius $modal-basic-radius 0 0;
      // border-bottom: 1px solid rgb(175, 164, 164);
      .question {
        font-size: $modal-font-size;

        color: $dark;
        text-align: center;
        &.admin {
          width: 100%;
          h4 {
            margin-top: 4rem;
          }
          input {
            border-bottom: 1px solid $--black1;
            margin-top: 5rem;
            width: 60%;
            font-size: 1.8rem;
          }
        }
        i {
          font-size: 2rem;
          color: #eb9447;
          border: 0.5rem solid #eb9447;
          padding: 1.5rem 2.25rem;
          border-radius: 50%;
          margin: 0rem 0 3rem 0;
        }
        h4 {
          font-weight: bold;
        }
        p {
          margin-top: 1.5rem;
          margin-bottom: -2rem;
          font-size: 2rem;
        }
      }
    }
    .answer__box {
      display: flex;
      flex-direction: row;
      height: 40%;

      .answer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        &.right {
          justify-content: right;
          padding-right: 3rem;
        }
        &.left {
          justify-content: left;
          padding-left: 3rem;
        }
        &.center {
          justify-content: center;
        }

        &.select {
          width: 100%;

          .yesno {
            width: 10rem;
            height: 6rem;

            text-align: center;
            border-radius: 1.5rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
            font-size: 2rem;
            &:hover {
              box-shadow: 0 1rem 1rem 0 rgb(218, 206, 206);
              cursor: pointer;
            }
            &.yes {
              background-color: $gray;
            }
            &.no {
              background-color: $danger;
            }
            &.submit {
              background-color: $naver;
            }
            &.close {
              background-color: $danger;
              color: $danger__text;
            }
          }
        }
      }
    }
  }
}
