@import "./variable/color-variable";
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.message__header {
  margin-bottom: 5rem;
  width: 100%;
  h2 {
    text-align: center;
  }
}

.message__link.cancel {
  &:last-child {
    margin-left: 4rem;
  }
  &:first-child {
    background-color: #009879;
  }
}
