@import "../../assets/color-variable";

.mypage-box {
  width: 40%;
  height: 60rem;
  padding: 3rem;
  margin: 3rem auto 0 auto;

  &__form {
    border: 1px solid #ccc;
    border-radius: 2rem;
    padding: 3rem;
    position: relative;

    &__email {
      display: inline-block;
      margin-bottom: 1rem;
    }
    h1 {
      text-align: center;
      margin-bottom: 2rem;
    }
    h2 {
      width: 100%;
      font-size: 2.6rem;
      text-align: center;
      margin-bottom: 5rem;
      // color: $shoppingRed;
    }
    label {
      display: block;
      width: 26rem;
      margin: 2.5rem auto;
      text-align: center;
      span {
        font-size: 1.8rem;
        font-weight: 600;
        color: #505f75;
      }
    }
    input {
      display: block;
      width: 100%;
      margin-top: 0.5rem;
      font-size: 1.6rem;
      border-bottom: 0.1rem solid rgba(109, 93, 93, 0.4);
      text-align: center;
      padding: 0.5rem 0;
    }
    button {
      display: block;
      margin: 0 auto;
      width: 26rem;
      height: 3.6rem;
      border-radius: 3rem;
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .submit {
      margin-top: 4rem;

      font-weight: 600;
      background: linear-gradient(to left, #7dc8e8, #14a5e3);
      &:hover {
        background: var(--color-hover);
      }
    }
  }
}
