.login-contatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--grewLight);
}

input,
button {
  border: none;
  outline: none;
  background: none;
}

.cont {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90rem;
  height: 60rem;
  background: #fff;
  border-radius: 3rem;
}

.form {
  position: relative;

  width: 65rem;
  height: 100%;
  padding: 5rem 3rem;

  transition: 1.2s ease-in-out;
  h2 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
  }
  label {
    display: block;
    width: 26rem;
    margin: 2.5rem auto;
    text-align: center;
    span {
      font-size: 1.4rem;
      font-weight: 600;
      color: #505f75;
    }
  }
  input {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    font-size: 1.6rem;
    border-bottom: 0.1rem solid rgba(109, 93, 93, 0.4);
    text-align: center;
  }
  button {
    display: block;
    margin: 0 auto;
    width: 26rem;
    height: 3.6rem;
    border-radius: 3rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .submit {
    margin: 3rem auto;

    font-weight: 600;
    background: linear-gradient(to left, #7dc8e8, #14a5e3);
    &:hover {
      background: var(--color-hover);
    }
  }
  .forgot-pwd {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
    &:hover {
      color: rgb(230, 124, 124);
    }
  }

  .login-divide {
    display: block;
    margin: 2.5rem auto;
    position: relative;
    width: 26rem;
    text-align: center;

    span {
      text-align: center;
      margin-top: 20px;
      color: #ccc;
      &::before {
        position: absolute;
        top: 47%;
        left: 0;
      }
      &::after {
        position: absolute;
        right: 0;
        top: 47%;
      }
      &::before,
      &::after {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        background: #e5e5e5;
        width: 40%;
        height: 0.1rem;
      }
    }
  }

  .snsLogin-btn {
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid #e5e5e5;
    height: 4rem;
    border-radius: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    span {
      padding-left: 0.8rem;
    }
    i {
      position: absolute;
      top: 50%;
      left: 8%;
      transform: translate(-50%, -50%);

      width: 1.8rem;
      height: 1.8rem;

      display: inline-block;
      box-sizing: content-box;
    }
  }

  .google-btn {
    i {
      background: url(../../assets/logo/google-image.png);
      background-size: cover;
    }
  }

  .naver-btn {
    background-color: #03c75a;
    color: white;
    i {
      background: url(../../assets/logo/naver-image.png);
      background-size: cover;
    }
  }
  .kakao-btn {
    background-color: #fee500;
    color: black;

    i {
      background: url(../../assets/logo/kakaotalk-image.png);
      background-size: cover;
    }
  }
}

@keyframes subform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sub-form {
  // overflow: hidden;
  position: relative;
  width: 25rem;
  background: #fff;
  border-radius: 3rem;
  animation: subform 1s ease-in-out;
  .img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 25rem;
    height: 100%;
    padding-top: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 25rem;
    height: 100%;
    background-image: url(../../assets/image/shopping.jpg);
    background-size: cover;
    transition: transform 1.2s ease-in-out;
    border-radius: 0 3rem 3rem 0;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 3rem 3rem 0;
  }
}
.img-text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 3rem;
  padding: 0 2rem;
  margin: 0 auto;
  text-align: center;
  color: #fff;

  h2 {
    margin-top: 1rem;
    font-weight: 400;
  }
  p {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

.img-btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 60%;
  height: 3.6rem;
  margin: 0 auto;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  &::after {
    content: "";
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 3rem;
  }
  span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
  }
}

@keyframes sub-slideleft {
  0% {
    transform: translateX(25rem);
  }
  100% {
    transform: translateX(0);
  }
}

.move-none {
  transition: all 1s ease-in-out;
}
.move-up {
  transform: translateY(-20rem);
  transition: transform 1s ease-in-out;
}

@keyframes slideright {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 50%;
  }
  100% {
    transform: translateX(25rem);
    opacity: 100%;
  }
}
@keyframes slideleft {
  0% {
    transform: translateX(25rem);
    opacity: 0;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 50%;
  }
  100% {
    transform: translateX(0);
  }
}
.m-left {
  animation: slideleft 1s ease-in-out forwards;
}
.m-right {
  animation: slideright 1s ease-in-out forwards;
}

.sub-form {
  transform: translate3d(0, 0, 0);
  transition: transform 1s ease-in-out;

  &.s-signup {
    transform: translate3d(-65rem, 0, 0);
    transition: transform 1s ease-in-out;

    &::before {
      border-radius: 3rem 0 0 3rem;
    }
    &::after {
      border-radius: 3rem 0 0 3rem;
    }
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
