// Header
$header-height: 9rem;

// Modal Font Size

$modal-font-size: 2.7rem;
// Kakao Modal
$kakao-width: 45rem;
$kakao-height: 50rem;
$modal-basic-radius: 0.5rem;

// Kakao Cancel Modal
$modal-basic-width: 40rem;
$modal-basic-height: 30rem;

// Root Basic
$root-font-size: 1.6rem;
$delivery-sub-bottom-font-size: 1.2rem;

// Linear gradient
$start: 8%;
$middle: 68%;
$end: 24%;
